*.class linguist-language=scala
*.log linguist-language=scala
*.js linguist-language=scala
*.css linguist-language=scala
*.html linguist-language=scala
*.java linguist-language=scala
*.scala linguist-language=scala
